/* Utilities */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    background: rgb(250, 250, 250);
}
a,
button {
    all: unset;
}
a:hover,
button:hover {
    cursor: pointer;
}
li {
    list-style: none;
}
.text_link {
    font-weight: 700;
    text-decoration: underline;
}
.basicSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 42px 0px;
}
.basicContainer {
    width: 1000px;
    display: flex;
    flex-direction: column;
  }
.basicContainer h1 {
    font-size: 36px;
    margin-bottom: 36px;
    margin-top: 36px;
}
.basicContainer h2 {
    font-size: 24px;
    margin-bottom: 24px;
    margin-top: 24px;
}
.basicContainer h3 {
    font-size: 18px;
    margin-bottom: 18px;
    margin-top: 18px;
}
.basicContainer p {
    margin-bottom: 1em;
    margin-top: 1em;
    line-height: 1.7em;
}
.basicContainer a {
    cursor: pointer;
    text-decoration: underline;
    font-weight: 700;
}
.basicContainer img {
    margin-top: 24px;
    margin-bottom: 24px;
}
.basicContainer ul,
.basicContainer ol {
    margin-left: 96px;
}
.basicContainer ul > li,
.basicContainer ol > li {
    line-height: 1.7em;
}
.basicContainer li {
    text-indent: 12px;
}
.basicContainer img {
    max-width: 100%;
}
.mouseScroll {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 30px;
    height: 50px;
    border: 2px solid #879099;
    border-radius: 25px;
  }
.mouseScroll::before {
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translate(-50%, 0);
    background: #3b4754;
    animation: scroll 1.3s infinite;
    border-radius: 4px;
}
  
  @keyframes scroll {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translate(-50%, 26px);
    }
  }  
/* End Utilities */

.topSection {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10vw;
    border-top: 2px solid #eef1f5;
    gap: 16px;
}

.show {
    display: flex;
}

.overlay {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 7;
    display: none;
}

/* Navbar Styling Start*/
.navbar {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vh 10vw;
    position: fixed;
    width: 100%;
    background: white;
    box-shadow: 0px 0px 300px rgba(0, 0, 0, 0.2);
    z-index: 6;
}
.navbar ul {
    text-align: center;
}
.navbar ul li {
    list-style: none;
    display: inline-block; 
}
.navbar ul li a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Poppins';
    letter-spacing: 2px;
    font-weight: 600;
    transition: all ease 0.5s;
}

/* Navbar Styling Ends */

/* Logo Start */
.logo {
    font-size: 20px;
    background-size: cover;
    font-weight: 600;
    padding: 6px 12px;
    border-radius: 6px;
  }
  .logo:hover {
    background: rgb(255, 242, 169);
    color: #3b4754;
    transition: all 0.3s;
    cursor: pointer;
  }
/* Logo End */

/* Navbar Menu */
.menu {
    list-style-type: none;
    display: flex;
    gap: 2vw;
    color: #3b4754;
    font-weight: 600;
    align-items: center;
}
.menu li:hover {
    background-color: rgb(255, 242, 169);
    color: #3b4754;
    transition: all 0.3s;
    cursor: pointer;
}
.menu li {
    padding: 6px 12px;
    border-radius: 6px;
}


/* Responsive Navbar Menu Start */
/* Checkbox Hack */
input[type=checkbox] {
    display: none;
}

/* Hamburger Menu */
.hamburger {
    display: none;
    font-size: 30px;
    position: absolute;
    top: 18px;
    right: 24px;
    user-select: none;
}

/* Home Start */
.hero__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90%;
    z-index: 2;
    gap: 24px;
  }
.hero__title {
    font-size: 64px;
    font-weight: 600;
    line-height: 48px;
    text-align: center;
}
.hero__info {
    font-size: 36px;
    font-weight: 400;
    color: #444e5a;
    text-align: center;
}
.section__overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(#fafafa, rgba(0, 0, 0, 0) 50%), linear-gradient(rgba(0, 0, 0, 0) 50%, #fafafa), url("../images/vector.jpg");
    background-size: cover;
    opacity: 0.5;
    z-index: 1;
}

/* Socials Start */
.socials {
    display: flex;
    gap: 24px;
    list-style-type: none;
    font-size: 18px;
  }
.socialSide {
    position: absolute;
    left: 40px;
    background: white;
    padding: 8px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    font-size: 26px;
    z-index: 5;
    color: #505b66;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}
.socialItem {
    width: 48px;
    height: 48px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.socialItem:hover {
    background: rgb(255, 242, 169);
    cursor: pointer;
    transition: all 0.2s;
}
.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0px;
    min-height: 100vh;
}
.container {
    max-width: 1000px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}
.bighead {
    max-width: 200px;
}
.section__heading {
    text-transform: uppercase;
    font-size: 44px;
    letter-spacing: 3px;
    position: relative;
}
  
.section__heading::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 7px;
    background: rgb(252, 226, 81);
    transform: skew(-18deg) translateX(-50%);
    left: 50%;
    bottom: 0px;
    z-index: -1;
}  
/* Socials End */

/* Button Start */
.button {
    width: 160px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    border-radius: 0.4rem;
    border: 2px solid #3b4754;
    color: black;
    background: white;
    background: rgb(252, 226, 81);
    border: none;
    box-shadow: 3px 3px 0 0 #3b4754;
    font-weight: 600;
    transition: all 0.3s;
    text-transform: uppercase;
}
.button:hover {
    cursor: pointer;
}
.button:active {
    transform: translate(3px, 3px);
    box-shadow: none;
    transition: all 0.1s;
}

/* Start About Grid */
.about__grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 76px;
}
.about__info {
    font-size: 18px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    color: #444e5a;
}
.about__info p {
    line-height: 1.5em;
}
.about__images {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}  
.about__skills {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 36px;
    flex-wrap: wrap;
}
.skillIcon {
    max-height: 50px;
    filter: drop-shadow(3px 5px 2px rgba(0, 0, 0, 0.2));
}
.skillBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    color: #444e5a;
    font-size: 18px;
}
/* End About Grid */

/* Start Contact Form */
#contact .container {
    z-index: 2;
}
.contactForm {
    background: white;
    padding: 36px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 36px;
}
.formSection {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.formSection label {
    font-size: 18px;
    font-weight: 500;
}
.formSection input,
.formSection textarea {
    all: unset;
    font-size: 16px;
    border-radius: 12px;
    background: rgb(242, 242, 242);
    border: none;
    padding: 12px;
    color: rgb(99, 99, 99);
}
.formSection input::placeholder,
.formSection textarea::placeholder {
    color: rgb(168, 168, 168);
}
.formSection input:focus,
.formSection textarea:focus {
    outline: 2px solid rgb(252, 226, 81);
}
/* End Contact Form */

/* Start Footer */
.copyright {
    color: #3b4754;
    font-size: 18px;
    font-weight: 300;
}
.footer__list {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 3vw;
    color: #3b4754;
    font-weight: 600;
}
.footer__listItem:hover {
    color: orange;
}
/* End Footer */

/* Applying Media Queries */
@media (max-width: 768px) {
    .logo {
        padding: 0;
        border-radius: 0;
      }
    .menu {
        display: none;
        position: absolute;
        background-color: rgba(0,0,0,.2);
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }
    .menu li:hover {
        display: inline-block;
        background-color: #211b4385;
        transition: 0.3s ease;
    }
    .menu li + li {
        margin-top: 12px;
    }
    input[type=checkbox]:checked ~ .menu {
        display: block;
    }
    .hamburger {
        display: block;
    }
    }
